:root {
    --primary-clr: #fff;
    --secondary-clr: #fff;
    --bkg-img-url-desk: url("../assets/images/bkgs/chalkboard-with-kids.png");
    --bkg-img-url-phone: url("../assets/images/bkgs/circular-background.png");
    --clr-gradient-1: #f2709c;
    --clr-gradient-2: #ff9472;
}

body {
    background-image: var(--bkg-img-url-desk);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

@media (max-width: 760px) {
    body {
        background-image: var(--bkg-img-url-phone);
    }
}

.experimental-btn {
    display: none;
    /*Remove this to change images*/
    font-size: 12px;
    font-weight: 400;
    padding: .125rem .5rem;
    color: #fff;
    background-color: teal;
    border: none;
    border-radius: 2rem;
    position: fixed;
    right: .5rem;
    top: .5rem;
}

.experimental-btn:hover,
.experimental-btn:active {
    cursor: pointer;
}

.main {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.start-btn {
    text-decoration: none;
    font-weight: 400;
    padding: 1rem 2rem;
    color: #fff;
    border: none;
    border-radius: 2rem;
    /* background-color: orangered; */
    /* transition: background-color 0.5s ease; */
    position: relative;
    background-image: linear-gradient(to right,
            orangered,
            orangered);
    z-index: 1;
}

.start-btn::before {
    position: absolute;
    content: '';
    border-radius: 2rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom,
            var(--clr-gradient-1),
            var(--clr-gradient-2));
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}

.start-btn:hover {
    cursor: pointer;
}

@media (max-width: 760px) {}

.start-btn:hover::before {
    opacity: 1;
}



.heading {
    font-family: 'Comic Neue', sans-serif;
    font-weight: 800;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    text-align: center;
}



.heading-gen {
    background: linear-gradient(to bottom right, var(--clr-gradient-1), var(--clr-gradient-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.heading-second {
    font-size: 1.25rem;
    color: var(--clr-gradient-2);
}

@media (max-width: 760px) {
    .heading-gen {
        font-size: 2rem;
    }

    .heading-second {
        font-size: 14px;
    }
}